.flex-container {
    display: flex;
    height: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.flex-container > div {    
    padding: 20px; 
    margin: 10px;   
    height: 20px;
    width: 20px;
    background-color: cadetblue;
    animation: colorchange 5s linear infinite;
}

@keyframes colorchange {
    0% {
        background-color: chartreuse;
    }
    25% {
        background-color: chocolate;
    }   
    50% {
        background-color: blue;
    } 
    75% {
        background-color: blueviolet;
        width: 40px;
    }
    100%{
        background-color: chartreuse;
    }
}
